<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.torrenttotransmission.activities"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".APIActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CategoryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.torrenttotransmission.activities.SearchableActivity" />
        </activity>
        <activity
            android:name=".SearchableActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.torrenttotransmission.activities.SearchableActivity" />
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TopActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.torrenttotransmission.activities.SearchableActivity" />
        </activity>
        <activity
            android:name=".DownloadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.torrenttotransmission.activities.SearchableActivity" />
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <service
            android:name="com.torrenttotransmission.services.CheckConnectionService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
